<h1><%= @list.name %> </h1>
<% @bookmarks.each do |bookmark| %>
  <ul>
    <li><strong><%= bookmark.movie.title %></strong></li>
    <li><%= bookmark.movie.rating %></li>
    <li><%= bookmark.movie.overview %></li>
  </ul>
<% end %>

<%= link_to "Back to the lists list",  lists_path  %><br>
<%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "btn btn-success"  %>
